.wrapper {
  font-family: "system", "Arial", "sans-serif";
}

.flexContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
}

.result {
  display: flex;
  flex: 1 1 200px;
  flex-direction: column;
}

.qrcodeImage {
  display: flex;
  flex: 1;
}

.controls {
  flex: 1;
  /* flex-direction: column; */
}

.controls > div {
  display: block;
  flex: 0;
}
