pre {
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}

.wrapper {
  font-family: "system", "Arial", "sans-serif";
}

.flexContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
}

.result {
  display: flex;
  flex: 1 1 200px;
  flex-direction: column;
}

.meta {
  font-size: "85%";
}

.qrcodeImage {
  display: flex;
  flex: 1;
}

.controls {
  flex: 1;
  /* flex-direction: column; */
}

.controls > div {
  display: block;
  flex: 0;
}

.left {
  display: flex;
  flex: 1;
  justify-content: left;
}

.center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.right {
  display: flex;
  flex: 1;
  justify-content: right;
}

.demoBorder {
  border: 10px solid red;
}

.demoBorderRadius {
  border: dashed;
  border-width: 2px 4px;
  border-radius: 40px;
  overflow: hidden;
}
