<mat-toolbar color="primary" id="toolbar-header">
  <a mat-button href="https://cordobo.github.io/angularx-qrcode/" aria-label="Example icon-button with menu icon">
    <mat-icon>qr_code_2</mat-icon>
    angularx-qrcode
  </a>
  <span class="toolbar-header-spacer"></span>
  <a mat-button href="https://github.com/cordobo/angularx-qrcode" aria-label="Example icon-button with heart icon">
    <mat-icon>code</mat-icon>
    Github
  </a>
  <a mat-button href="https://www.npmjs.com/package/angularx-qrcode" aria-label="Example icon-button with heart icon">
    <mat-icon>file_download</mat-icon>
    npm 13.0.3
  </a>

  <iframe src="https://ghbtns.com/github-btn.html?user=cordobo&repo=angularx-qrcode&type=star&count=true"
    frameborder="0" scrolling="0" width="110" height="20" title="GitHub"></iframe>

</mat-toolbar>

<div class="page-header">
  <h1>Angular QR Code Generator</h1>
</div>


<div id="npmInstall">
  <h4>Installation</h4>
  <pre>npm install angularx-qrcode --save</pre>
</div>


<div id="wrapper">

  <div id="flexContainer">

    <div id="result-container">
      <mat-card>
        <mat-card-title>QR Code Preview</mat-card-title>
        <mat-card-content>
          <div class="qrcodeImage">
            <qrcode [elementType]="elementType" errorCorrectionLevel="M" [qrdata]="qrdata" [scale]="scale"
              [width]="width" [allowEmptyString]="true" [className]="cssClass" [colorDark]="colorDark"
              [colorLight]="colorLight" [margin]="margin"></qrcode>
          </div>
        </mat-card-content>

        <mat-card-content>
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="HTML">
              <h4>Copy & Paste this code</h4>
              <pre [innerText]="renderSampleCode"></pre>
            </mat-tab>
            <!-- <mat-tab label="TypeScript"> TypeScript </mat-tab> -->
            <!-- <mat-tab label="CSS"> CSS </mat-tab> -->
            <mat-tab label="Installation">
              <h4>Installation</h4>
              <pre>npm install angularx-qrcode --save
# Or with yarn
yarn add angularx-qrcode</pre>

              <h4>Usage</h4>
              <pre>
// File: app.module.ts
// all your other imports...
import {{ '{' }} QRCodeModule } from 'angularx-qrcode';

@NgModule({{ '{' }}
declarations: [
AppComponent
],
imports: [
QRCodeModule
],
providers: [],
bootstrap: [AppComponent]
})
export class AppModule {{ '{' }} }</pre>

            </mat-tab>
            <mat-tab label="Tutorials">
              <h4>Get started with angularx-qrcode:</h4>

              <ul>
                <li>
                  <a target="_blank" rel="noopener"
                    href="http://cordobo.com/2444-angular4-qrcode-generator-component/">Tutorial</a>
                </li>
                <li>
                  <a target="_blank" rel="noopener"
                    href="https://github.com/Cordobo/angularx-qrcode/tree/main/projects/demo-app">angularx-qrcode demo
                    app source code (this app)</a>
                </li>

              </ul>
            </mat-tab>


          </mat-tab-group>
        </mat-card-content>
      </mat-card>

    </div>

    <div id="options-container">
      <mat-card>
        <mat-card-title>Options</mat-card-title>

        <mat-card-content>

          <form class="form-full-width">
            <mat-form-field class="input-full-width" appearance="fill">
              <mat-label>QR Code (qrdata)</mat-label>
              <input matInput name="qrdata" placeholder="qrdata" [(ngModel)]="qrdata" />
            </mat-form-field>

            <section>
              <div class="button-label">Or set:</div>
              <div class="button-row">
                <mat-button-toggle-group name="qrdata" aria-label="qrdata" [(ngModel)]="qrdata" selected="qrdata">
                  <mat-button-toggle value="https://github.com/Cordobo/angularx-qrcode">URL</mat-button-toggle>
                  <mat-button-toggle value="Peter Parker">Peter Parker</mat-button-toggle>
                  <mat-button-toggle value="42">42</mat-button-toggle>
                  <mat-button-toggle value="">"" (empty string)</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </section>

          </form>

          <br />

          <mat-divider></mat-divider>

          <h4>Format</h4>
          <section>
            <div class="button-label">elementType:</div>
            <div class="button-row">
              <mat-button-toggle-group name="elementType" aria-label="Format (elementType)" [(ngModel)]="elementType"
                selected="elementType">
                <mat-button-toggle value="canvas">canvas (Default)</mat-button-toggle>
                <mat-button-toggle value="img">img</mat-button-toggle>
                <mat-button-toggle value="url">url</mat-button-toggle>
                <mat-button-toggle value="svg">svg</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </section>

          <br />
          <br />

          <mat-divider></mat-divider>

          <h4>ErrorCorrectionLevel</h4>

          <mat-button-toggle-group name="errorCorrectionLevel" aria-label="ErrorCorrectionLevel"
            [(ngModel)]="errorCorrectionLevel" selected="errorCorrectionLevel">
            <mat-button-toggle value="L">L</mat-button-toggle>
            <mat-button-toggle value="M">M (Default)</mat-button-toggle>
            <mat-button-toggle value="Q">Q</mat-button-toggle>
            <mat-button-toggle value="H">H</mat-button-toggle>
          </mat-button-toggle-group>

          <br />
          <br />

          <mat-divider></mat-divider>

          <h4>Size </h4>

          <section>
            <div class="button-label">Width:</div>
            <div class="button-row">
              <mat-button-toggle-group name="width" aria-label="Width" [(ngModel)]="width" selected="width">
                <mat-button-toggle *ngFor="let o of widthList" [value]="o.val">{{ o.title }}</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </section>

          <section>
            <div class="button-label">Margin:</div>
            <div class="button-row">
              <mat-button-toggle-group name="margin" aria-label="Margin" [(ngModel)]="margin" selected="margin">
                <mat-button-toggle *ngFor="let o of marginList" [value]="o.val">{{ o.title }}</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </section>

          <section>
            <div class="button-label">Scale:</div>
            <div class="button-row">
              <mat-button-toggle-group name="scale" aria-label="Scale" [(ngModel)]="scale" selected="scale">
                <mat-button-toggle *ngFor="let o of scaleList" [value]="o.val">{{ o.title }}</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </section>
          <p>Scale (size of pixel per module (black dot))</p>

          <br />
          <br />

          <mat-divider></mat-divider>

          <h4>Colors</h4>

          <section>
            <div class="button-label">Foreground:</div>
            <div class="button-row">
              <mat-button-toggle-group name="colorDark" aria-label="ColorDark" [(ngModel)]="colorDark"
                selected="colorDark">
                <mat-button-toggle value="#3f51b5ff">Indigo</mat-button-toggle>
                <mat-button-toggle value="#ff0000ff">Red</mat-button-toggle>
                <mat-button-toggle value="ffffffff">White</mat-button-toggle>
                <mat-button-toggle value="#000000ff">Default colorDark (#000000ff)</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </section>

          <section>
            <div class="button-label">Background:</div>
            <div class="button-row">

              <mat-button-toggle-group name="colorLight" aria-label="ColorLight" [(ngModel)]="colorLight"
                selected="colorLight">
                <mat-button-toggle value="#ff4081ff">Pink</mat-button-toggle>
                <mat-button-toggle value="#ff0000ff">Red</mat-button-toggle>
                <mat-button-toggle value="#000000ff">Black</mat-button-toggle>
                <mat-button-toggle value="#ffffffff">Default colorLight (#ffffffff)</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </section>

          <br />
          <br />

          <mat-divider></mat-divider>

          <h4>CSS Styling</h4>
          <p>These are sample styles how you can align the qrcode directive or add some styling.</p>

          <mat-radio-group aria-label="Select an option" [(ngModel)]="cssClass" class="radio-vertical">
            <mat-radio-button value="left">Left</mat-radio-button>
            <mat-radio-button value="center">Center</mat-radio-button>
            <mat-radio-button value="right">Right</mat-radio-button>
            <mat-radio-button value="demoBorder">Border</mat-radio-button>
            <mat-radio-button value="demoBorderRadius">BorderRadius</mat-radio-button>
            <mat-radio-button value="demoBorderRadius" (click)="changeMargin(0)">BorderRadius without margin
            </mat-radio-button>
          </mat-radio-group>

        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>

<footer id="footer">
  <span>MIT License | Copyright © 2018 - present</span>
  <a href="https://cordobo.com">Andreas Jacob (Cordobo.com)</a>
</footer>

<button mat-fab id="button-reset" color="accent" aria-label="Reset all changes" (click)="reset()">
  <mat-icon>restart_alt</mat-icon>
</button>