<div class="wrapper">
  <h1>angularX qrcode demo app implementation</h1>

  <div class="flexContainer">
    <div class="result">
      <div class="meta">
        <div>qrdata: {{ qrdata }}</div>
        <div>elementType: {{ elementType }}</div>
        <div>errorCorrectionLevel: {{ errorCorrectionLevel }}</div>
        <div>scale: {{ scale }}</div>
        <div>width: {{ width }}</div>
      </div>
      <div class="qrcodeImage">
        <qrcode [elementType]="elementType" [errorCorrectionLevel]="errorCorrectionLevel" [qrdata]="qrdata" [scale]="scale" [width]="width" [allowEmptyString]="true"></qrcode>
      </div>
    </div>

    <div class="controls">
      <h3>Change Values</h3>

      <h4>Set QR-Code Data:</h4>
      <button (click)="changeQrdata('Bruce')">Set "Bruce"</button>
      <button (click)="changeQrdata('Peter Parker')">
        "Peter Parker"
      </button>
      <button (click)="changeQrdata('42')">"42"</button>
      <button (click)="changeQrdata('')">"" (empty string)</button>
      <br />
      <br />
      <label>
        or type to change: <input [(ngModel)]="qrdata" placeholder="name" />
      </label>

      <h4>Change Element Type</h4>
      <button (click)="changeElementType('img')">img</button>
      <button (click)="changeElementType('url')">url</button>
      <button (click)="changeElementType('canvas')">canvas</button>
      <button (click)="changeElementType('svg')">svg</button>

      <h4>Change Level</h4>
      <button (click)="changeErrorCorrectionLevel('L')">L</button>
      <button (click)="changeErrorCorrectionLevel('M')">M</button>
      <button (click)="changeErrorCorrectionLevel('Q')">Q</button>
      <button (click)="changeErrorCorrectionLevel('H')">H</button>

      <h4>Change Width</h4>
      <button (click)="changeWidth(512)">512</button>
      <button (click)="changeWidth(256)">256</button>
      <button (click)="changeWidth(128)">128</button>
      <button (click)="changeWidth(64)">64</button>
      <button (click)="changeWidth(10)">10</button>

      <h4>Change Scale (size of pixel per module (black dot))</h4>
      <button (click)="changeScale(32)">32</button>
      <button (click)="changeScale(8)">8</button>
      <button (click)="changeScale(4)">4</button>
      <button (click)="changeScale(1)">1</button>
    </div>
  </div>

  <h2>Here are some links to get you started with angularx-qrcode:</h2>

  <ul>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://github.com/Cordobo/angularx-qrcode">Github: angularx-qrcode</a>
      </h2>
    </li>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://github.com/Cordobo/angularx-qrcode">Github: this demo
          app</a>
      </h2>
    </li>
    <li>
      <h2>
        <a target="_blank" rel="noopener"
          href="http://cordobo.com/2444-angular4-qrcode-generator-component/">Tutorial</a>
      </h2>
    </li>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://www.npmjs.com/package/angularx-qrcode">NPM</a>
      </h2>
    </li>
  </ul>
</div>