.qrcodeImage {
  display: flex;
  flex: 1;
}

.downloadButton {
  display: flex;
  justify-content: center;
}

.left {
  display: flex;
  flex: 1;
  justify-content: left;
}

.center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.right {
  display: flex;
  flex: 1;
  justify-content: right;
}

.demoBorder {
  border: 10px solid red;
}

.demoBorderRadius {
  border: dashed;
  border-width: 2px 4px;
  border-radius: 40px;
  overflow: hidden;
}

mat-slider {
  width: 300px;
}