# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish to npm

on:
  release:
    types: [created]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish:
    # environment: prod
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          # cache: npm
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
      - name: Show Node & npm versions
        run: |
          node -v
          npm -v

      - name: Upgrade npm to latest (11.x+)
        run: npm install -g npm@latest

      - name: Confirm npm version (debug)
        run: npm -v # should be >= 11.5.1

      - name: Install dependencies
        run: npm ci
      - name: Build library
        run: npm run ci:build:lib
      - name: Publish to npm
        working-directory: ./dist/angularx-qrcode
        run: npm publish --access public
